@font-face {
  font-family: CutiveMono;
  src: url('../fonts/CutiveMono-Regular.ttf');
}

@font-face {
  font-family: Pacifico;
  src: url('../fonts/Pacifico-Regular.ttf');
}

body{
  background-color: transparent;
  width: 100vw;
}

.title {
  font-family: CutiveMono;
  font-size: 40px;
  font-weight: bold;
}
.title-table {
  font-family: Pacifico;
  font-size: 30px;
  font-weight: bold;
}

.white-shadow {
  text-shadow: 8px 4px 12px #63fe55;
  color: white;
}

.black-shadow {
  text-shadow: 8px 4px 12px white;
  color: black;
}

.blue-shadow{
  text-shadow: 8px 4px 12px yellow;
  color: blue; 
}

.tbody_context > tr > td {
  padding: 20px;
}